:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.logo {
  display: block;
  width: 12rem;
}

img {
  max-width: 100%;
  height: auto;
}

.content {
  display: flex;
  position: relative;
  align-items: stretch;
  justify-content: center;
  min-width: 55rem;
  max-width: 60vw;
  flex-direction: row;
  background-color: #fff9f9;
  border: 1px solid #00000014;
  border-radius: 0.5rem;
  padding: 0.5rem 0.8rem;
}

.label {
  text-transform: uppercase;
  font-weight: bold;
  color: #00000099;
  font-size: 0.8rem;
  margin: 0 0 0.5rem 0;
}

.content-text {
  font-weight: 500;
  color: #000000cc;
  font-size: 0.9rem;
}

#location {
  flex: 2.5;
}

#date-picker {
  flex: 1;
}

#date-picker input {
  background-color: #fff9f9;
  border: 1px solid transparent;
  padding: 0.2rem;
  border-radius: 4px;
  cursor: pointer;
}

#event-type {
  flex: 2;
}

.user-icon {
  margin: 0 3rem 0 0;
  font-size: 2rem;
  height: 2rem;
  width: auto;
  cursor: pointer;
}
