<footer class="footer">
  <div class="footer-links">
    <div>
      <h2>BLINKTICKETS</h2>
      <div class="details">
        <mat-icon
          aria-hidden="false"
          aria-label="Mail icon"
          fontSet="material-icons-outlined"
          style="font-size: 1.5rem; height: auto; width: auto;"
          >mail
        </mat-icon>
        <p>support&#64;blinktickets.com</p>
      </div>
      <div class="details">
        <mat-icon
          aria-hidden="false"
          aria-label="Smartphone icon"
          fontSet="material-icons-outlined"
          style="font-size: 1.5rem; height: auto; width: auto;"
          >smartphone
        </mat-icon>
        <p>1234567</p>
      </div>
      <div class="social-icons">
        <a href="https://www.facebook.com">
          <img
            src="images/facebook.png"
            class="social-icon"
            alt="facebook icon"
          />
        </a>
        <a href="https://www.youtube.com">
          <img
            src="images/youtube.png"
            class="social-icon"
            alt="youtube icon"
          />
        </a>
        <a href="https://www.instagram.com">
          <img
            src="images/instagram.png"
            class="social-icon"
            alt="instagram icon"
          />
        </a>
      </div>
    </div>
    <div>
      <h3>Quick Links</h3>
      <ul>
        <a href="#"><li>Terms & Conditions</li></a>
        <a href="#"><li>Privacy Policy</li></a>
        <a href="#"><li>Copyright Policy</li></a>
      </ul>
    </div>
    <div>
      <h3>About</h3>
      <ul>
        <a href="#"><li>About Us</li></a>
        <a href="#"><li>Contact Us</li></a>
        <a href="#"><li>Feedback</li></a>
      </ul>
    </div>
  </div>
  <p class="footer-copyright">
    &copy; All rights reserved. Made by Aneesh Gupta
  </p>
</footer>
