:host {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

:host p-carousel {
  width: 100%;
}

.card {
  display: flex;
  height: 100%;
  width: 100%;
}

:host mat-card,
:host mat-card-content {
  height: 100%;
  width: 100%;
  padding: 0px;
  background-color: transparent;
  box-shadow: none;
  display: flex;
  justify-content: center;
}

img {
  width: auto;
  height: 100%;
}