<app-section title="Spotlight">
  <mat-card class="card">
    <mat-card-content style="padding: 0;" class="card-content">
      <img class="card-img-content" src="images/spotlight.png" />
      <div class="card-text-content">
        <h2>San Franciso Bay Area events: experience the Golden City</h2>
        <p>
          There’s something magical about San Francisco, whether you’re cruising
          by the Golden Gate Bridge on a boat tour or dancing at a party in the
          Mission. Discover fantastic things to do in the Bay Area today by
          exploring this calendar of concerts, comedy shows, pop-up markets, and
          more — all selected by Eventbrite’s expert event curators.
        </p>
        <div class="details">
          <mat-icon
            aria-hidden="false"
            aria-label="Event icon"
            fontSet="material-icons-outlined"
            style="font-size: 1.5rem; height: auto; width: auto;"
            >event
          </mat-icon>
          <p>Oct 1, Sat | 7:00 PM Onwards</p>
        </div>
        <div class="details">
          <mat-icon
            aria-hidden="false"
            aria-label="Location icon"
            fontSet="material-icons-outlined"
            style="font-size: 1.5rem; height: auto; width: auto;"
            >location_on
          </mat-icon>
          <p>Oakland</p>
        </div>
        <button
          mat-flat-button
          style="background-color: white; color: #e00046;"
        >
          GRAB TICKETS
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</app-section>
