* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
}

.p-carousel-item-active:not(.p-carousel-item-start, .p-carousel-item-end) {
  transform: scale(1.8);
  height: 16.5rem;
  opacity: 1;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.p-carousel-item-start {
  opacity: 0.19;
  transition: opacity 0.5s ease-out;
}

.p-carousel-item-end {
}

.p-carousel-items-content {
  padding: 2.1rem 0;
  margin-top: 2rem;
}

.p-carousel-item {
  scale: 0.7;
  height: 16rem;
  opacity: 0.19;
}
